extends layout

block content
  h1= title
  p Welcome to #{title}

  each message in messages
    .message
      h2= message.user
      p= message.text
      time= message.added
  
  a(href="/new") Post a new message